{% extends 'base2.html.twig' %}
{% block body %}
    <table>
        <tr>
            <td>
                <img src="{{ asset('/images/Logo-MFPE.png') }}"/>
            </td>

            <td colspan="3">
                {% if lang == 'fr' %}
                    <h1>Ministère de la Formation Professionnelle et de l'Emploi</h1>
                    <h3> Date d'inscription {{ "now"|date("d/m/Y") }}</h3>
                {% else %}
                    <h1>وزارة التكوين المهني والتشغيل</h1>
                    <h3> تاريخ التسجيل  {{ "now"|date("Y/m/d") }}</h3>
                {% endif %}
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                <br/>
            </td>
        </tr>

    </table>

    {% if user %}
        {% if lang == 'fr' %}

            <table class="info">
                {% if user.nomFr %}
                    <tr>
                        <td style="font-weight: bold;">Nom :</td>
                        <td>{{ user.nomFr }}</td>
                    </tr>
                {% endif %}
                {% if user.prenomFr %}
                    <tr>
                        <td style="font-weight: bold;">Prénom :</td>
                        <td>{{ user.prenomFr }}</td>
                    </tr>
                {% endif %}
                {% if user.nationalite.intituleFr %}
                    <tr>
                        <td style="font-weight: bold;">Nationalité :</td>
                        <td>{{ user.nationalite.intituleFr }}</td>
                    </tr>
                {% endif %}
                {% if  user.numCin %}
                    <tr>
                        <td style="font-weight: bold;">Numéro de carte d'identité :</td>
                        <td>{{ user.numCin }}</td>
                    </tr>
                {% endif %}
                {% if user.dateDelivranceCin %}
                    <tr>
                        <td style="font-weight: bold;">Date de délivrance de carte d'identité :</td>
                        <td>{{ user.dateDelivranceCin |date("d/m/Y") }}</td>
                    </tr>
                {% endif %}

                {% if user.dateNaissance %}
                    <tr>
                        <td style="font-weight: bold;">Date de naissance :</td>
                        <td>{{ user.dateNaissance |date("d/m/Y") }}</td>
                    </tr>
                {% endif %}
                {% if user.lieuNaissance %}
                    <tr>
                        <td style="font-weight: bold;">Lieu de naissance :</td>
                        <td>{{ user.lieuNaissance }}</td>
                    </tr>
                {% endif %}
                {% if user.numPassport %}
                    <tr>
                        <td style="font-weight: bold;">Numéro de passeport :</td>
                        <td>{{ user.numPassport }}</td>
                    </tr>
                {% endif %}
                {% if user.dateDelivrancePassport %}
                    <tr>
                        <td style="font-weight: bold;">Date de délivrance de passeport :</td>
                        <td>{{ user.dateDelivrancePassport|date("d/m/Y") }}</td>
                    </tr>
                {% endif %}
                {% if user.numCarteSejour %}
                    <tr>
                        <td style="font-weight: bold;">Numéro de carte de séjour :</td>
                        <td>{{ user.numCarteSejour }}</td>
                    </tr>
                {% endif %}
                {% if user.dateValiditeSejour %}
                    <tr>
                        <td style="font-weight: bold;">Date de validité de carte de séjour :</td>
                        <td>{{ user.dateValiditeSejour|date("d/m/Y") }}</td>
                    </tr>
                {% endif %}
                {% if user.gouvernorat %}
                    <tr>
                        <td style="font-weight: bold;">Gouvernorat :</td>
                        <td>{{ user.gouvernorat.intituleFr }}</td>
                    </tr>
                {% endif %}
                {% if user.delegation %}
                    <tr>
                        <td style="font-weight: bold;">Délégation :</td>
                        <td>{{ user.delegation.intituleFr }}</td>
                    </tr>
                {% endif %}

                {% if user.tel %}
                    <tr>
                        <td style="font-weight: bold;">Téléphone :</td>
                        <td>{{ user.tel }}</td>
                    </tr>
                {% endif %}
                {% if user.email %}
                    <tr>
                        <td style="font-weight: bold;">Email :</td>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endif %}
                {% if user.sexe %}
                    <tr>
                        <td style="font-weight: bold;">Sexe :</td>
                        <td>{{ user.sexe }}</td>
                    </tr>
                {% endif %}
                {% if user.niveauEtude.intituleFr %}
                    <tr>
                        <td style="font-weight: bold;">Niveau d'étude :</td>
                        <td>{{ user.niveauEtude.intituleFr }}</td>
                    </tr>
                {% endif %}
                {% if user.username %}
                    <tr>
                        <td style="font-weight: bold;color: #A52A2A">Login :</td>
                        <td style="color: #A52A2A">{{ user.username }}</td>
                    </tr>
                {% endif %}
                {% if user.passwordPrint %}
                    <tr>
                        <td style="font-weight: bold;color: #A52A2A">Mot de passe :</td>
                        <td style="color: #A52A2A">{{ user.passwordPrint }}</td>
                    </tr>
                {% endif %}
            </table>

        {% else %}
            <table class="info">
                {% if user.prenomFr %}
                    <tr>
                        <td style="font-weight: bold;"> الإسم :</td>
                        <td>{{ user.prenomAr }}</td>
                    </tr>
                {% endif %}
                {% if user.nomFr %}
                    <tr>
                        <td style="font-weight: bold;"> اللقب :</td>
                        <td>{{ user.nomAr }}</td>
                    </tr>
                {% endif %}
                {% if user.nationalite.intituleAr %}
                    <tr>
                        <td style="font-weight: bold;"> الجنسية :</td>
                        <td>{{ user.nationalite.intituleAr }}</td>
                    </tr>
                {% endif %}
                {% if  user.numCin %}

                    <tr>
                        <td style="font-weight: bold;"> بطاقة التعريف الوطنية :</td>
                        <td>{{ user.numCin }}</td>
                    </tr>
                {% endif %}
                {% if user.dateDelivranceCin %}
                    <tr>
                        <td style="font-weight: bold;"> تاريخ الإصدار :</td>
                        <td>{{ user.dateDelivranceCin |date("Y/m/d") }}</td>
                    </tr>
                {% endif %}
                {% if user.dateNaissance %}
                    <tr>
                        <td style="font-weight: bold;"> تاريخ الولادة :</td>
                        <td>{{ user.dateNaissance |date("Y/m/d") }}</td>
                    </tr>
                {% endif %}
                {% if user.lieuNaissance %}
                    <tr>
                        <td style="font-weight: bold;"> مكان الولادة :</td>
                        <td>{{ user.lieuNaissance }}</td>
                    </tr>
                {% endif %}
                {% if user.numPassport %}
                    <tr>
                        <td style="font-weight: bold;"> رقم جواز السفر :</td>
                        <td>{{ user.numPassport }}</td>
                    </tr>
                {% endif %}
                {% if user.dateDelivrancePassport %}
                    <tr>
                        <td style="font-weight: bold;"> تاريخ إصدار جواز السفر :</td>
                        <td>{{ user.dateDelivrancePassport|date("Y/m/d") }}</td>
                    </tr>
                {% endif %}
                {% if user.numCarteSejour %}

                    <tr>
                        <td style="font-weight: bold;"> رقم بطاقة الإقامة :</td>
                        <td>{{ user.numCarteSejour }}</td>
                    </tr>
                {% endif %}
                {% if user.dateValiditeSejour %}
                    <tr>
                        <td style="font-weight: bold;"> تاريخ صلاحية الإقامة :</td>
                        <td>{{ user.dateValiditeSejour|date("Y/m/d") }}</td>
                    </tr>
                {% endif %}
                {% if user.gouvernorat.intitulekAr %}
                    <tr>
                        <td style="font-weight: bold;"> الولاية :</td>
                        <td>{{ user.gouvernorat.intituleAr }}</td>
                    </tr>
                {% endif %}
                {% if user.delegation.intituleAr %}
                    <tr>
                        <td style="font-weight: bold;"> المعتمدية :</td>
                        <td>{{ user.delegation.intituleAr }}</td>
                    </tr>
                {% endif %}

                {% if user.tel %}
                    <tr>
                        <td style="font-weight: bold;"> الهاتف :</td>
                        <td>  {{ user.tel }}</td>
                    </tr>
                {% endif %}
                {% if user.email %}
                    <tr>
                        <td style="font-weight: bold;"> البريد الإلكتروني :</td>
                        <td> {{ user.email }}</td>
                    </tr>
                {% endif %}

                {% if user.sexe == "homme" or user.sexe == "Homme" %}
                    <tr>
                        <td style="font-weight: bold;"> الجنس :</td>
                        <td>ذكر</td>
                    </tr>
                {% else %}
                    <tr>
                        <td style="font-weight: bold;"> الجنس :</td>
                        <td>أنثى</td>
                    </tr>
                {% endif %}
                {% if user.niveauEtude.intituleAr %}
                    <tr>
                        <td style="font-weight: bold;"> المستوى الدراسي :</td>
                        <td>{{ user.niveauEtude.intituleAr }}</td>
                    </tr>
                {% endif %}
                {% if user.username %}
                    <tr>
                        <td style="font-weight: bold; color: #A52A2A"> المستخدم :</td>
                        <td style="color: #A52A2A">{{ user.username }}</td>
                    </tr>
                {% endif %}
                {% if user.passwordPrint %}
                    <tr>
                        <td style="font-weight: bold;color: #A52A2A"> كلمة العبور :</td>
                        <td style="color: #A52A2A">{{ user.passwordPrint }}</td>
                    </tr>

                {% endif %}
            </table>
        {% endif %}
    {% endif %}

{% endblock %}